src/main/app/oraclecloud.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <file:connector name="File" outputPattern="#[flowVars.fname]" writeToDirectory="/tmp" autoDelete="true" streaming="true" validateConnections="true" doc:name="File"/>
    <spring:beans>
        <spring:bean id="Bean" name="myComponent" class="com.javatransformertest.myComponent"/>
    </spring:beans>
    <flow name="oraclecloudFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <foreach doc:name="For Each">
            <set-variable variableName="fname" value="#[payload.dataSource.part.fileName]]" doc:name="Variable"/>
            <set-payload value="#[payload.dataSource.content]" doc:name="Set Payload"/>
            <byte-array-to-string-transformer doc:name="Byte Array to String"/>
            <file:outbound-endpoint path="/tmp" connector-ref="File" responseTimeout="10000" doc:name="File"/>
            <invoke name="Invoke" object-ref="myComponent" method="myMethod" methodArguments="#[message.payload],#[flowVars['fname']]"/>
        </foreach>
        <logger message="File copied" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
